{include="/../../dashboard/menu/index"}

<section class="text-white py-5">
    <div class="container">
        <div class="row aling-center">
            <div class="col-lg-10">
                <h1>User list</h1>
            </div>
            <div class="col-lg-2 m-auto text-end">
                <button class="btn btn-success">Create new user</button>
            </div>
        </div>
        <hr>
        <row class="row row-users">
            <div class="col-lg-12">
                <table class="table table-striped table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Updated at</th>
                        <th scope="col" class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {loop="$users"}
                    <tr id="{$value['id']}">
                        <th scope="row">{$value['id']}</th>
                        <td data-name="{$value['name']}">{$value['name']}</td>
                        <td>{$value['email']}</td>
                        <td>{$value['created_at']}</td>
                        <td>{$value['updated_at']}</td>
                        <td>
                            <div class="dropdown m-auto text-end">
                                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item" data-edit="{$value['id']}">Edit</button>
                                            <button class="dropdown-item" data-delete="{$value['id']}">Delete</button>
                                        </li>
                                    </ul>
                                </div>
                        </td>
                    </tr>
                    {/loop}
                </tbody>
            </table>
            </div>
        </row>
    </div>
</section>